// Import normalize css
@import './includes/_normalize.less';
// Set box-sizing border-box
@import './includes/_box-sizing.less';
// Set html & body height to 100%
@import './includes/_html-body-height.less';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

// Make images responsive
@import './includes/_images.less';

// Mixins
.font-roboto() {
  font-family: 'Roboto', sans-serif;
}
.flex-layout(
@flow: row nowrap;
@justify: flex-start;
@alignt-items: stretch;
@align-content: stretch
) {
  display: flex;
  flex-flow: @flow;
  justify-content: @justify;
}

.col(@justify: flex-start; @align: stretch) {
  .flex-layout(@flow: column nowrap; @justify; @align);
}
.row(@justify: flex-start; @align: stretch) {
  .flex-layout(@flow: row nowrap; @justify; @align);
}

@link-color: black;
.link() {
  text-decoration: none;
  color: @link-color;
  transition: color 0.15s ease-in;
  &:link,
  &:visited {
    transition: color 0.15s ease-in;
  }
  &:hover {
    transition: color 0.15s ease-in;
    color: lighten(@link-color; 40%);
    text-decoration: underline;
  }
  &:active {
    transition: color 0.15s ease-in;
  }
  &:focus {
    text-decoration: underline;
    transition: color 0.15s ease-in;
    outline: 1px dotted currentColor;
  }
}

// Tags
html {
  .font-roboto();
}

// Classes
.container {
  max-width: 60rem;
  margin: 0 auto;

  .nav {
    .flex-layout(@justify: flex-end);

    margin: 1rem 0;
    .link {
      margin-left: 2rem;
      .link();
    }
  }
  .top-section {
    padding: 4rem 2rem;
    background-color: #ddf7f2;
    border-radius: 0.5rem;

    .test {
      max-height: 300px;
      overflow: hidden;
      border-radius: 0.5rem;
    }
    .top-img {
      border-radius: 0.5rem;
    }

    .name-section {
      border-bottom: 1px solid rgba(0, 0, 0, 10%);
      padding: 2rem 0;
      font-size: 1.25rem;
      .contact {
        .row(@justify: space-around);
        i {
          font-size: 4rem;
        }
        .link {
          .link();
        }

        text-align: center;
      }
    }
    .top-content p {
      padding: 1rem 0;
    }
    .btn {
      background-color: darken(#ddf7f2; 50%);
      color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
    }
  }

  .mid-section {
    margin-top: 3rem;
    .row(@justify: space-between);
    .section-one {
      width: 48%;
    }
    .section-two {
      width: 48%;
    }
    .stuff {
      border: 1px solid black;
      border-radius: 0.25rem;
    }
    .item {
      border-bottom: 1px solid black;
      padding: 0.5rem;
      &:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }
  .bottom-section {
    margin-top: 3rem;
    .history {
      border-bottom: 1px solid black;
    }
    .table {
      .col();

      margin-bottom: 3rem;
      .table-section {
        padding: 1rem 0.55rem;
        border-bottom: 1px solid black;
        &:nth-child(2n) {
          background-color: #ddf7f2;
        }
        .row {
          .row(@justify: space-even);
          &.bold {
            font-weight: bold;
          }
          .years {
            flex-basis: 10%;
          }
          .company {
            flex-basis: 20%;
          }
          .title {
            flex-basis: 40%;
          }
          .tech {
            flex-basis: 30%;
          }
        }
      }
    }
  }
  .footer {
    background-color: darken(#ddf7f2; 50%);
    color: white;
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
  }
}
